<!-- src/app/header/header.component.html -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span (click)="onHomeButtonClick()" >Kamdhenu Dairy</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="onHomeButtonClick()">
        <mat-icon  >home</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  